* {
    font-family: 'Rubik', sans-serif;
}

.app-main-container {
    padding-top: $navbar-height;
}

.text-main {
    color: $color-main;
}

.bg-grey {
    background-color: $color-grey-light;
}

@import './section';
@import './pages/blog';
@import '../components/navbar/navbar';
@import '../components/footer/footer';
@import '../components/search/search';
@import '../components/item/category';
@import '../components/item/detail';
@import '../components/item/blog';
@import '../components/item/search';
@import '../components/item/tags';
@import '../components/header/blog';
@import '../components/pagination/pagination';

@import '../components/modal/signin';
