.blog-item-container {
    padding: 2.5rem 0;
    .item {
        position: relative;
        overflow: hidden;
        display: block;
        border-radius: 2px;

        .item-img {
            border-radius: 2px;
            overflow: hidden;
            position: relative;

            img {
                width: 100%;
                height: auto;
                display: block;
                position: relative;
                z-index: 100;
                transform: scale(1,1);
                transition: all 0.3s ease;
            }

            .item-rating {
                position: absolute;
                left: 0;
                top: 10px;
                z-index: 1000;
                background-color: $color-main;
                padding: 1px 6px;
                border-top-right-radius: 3px;
                border-bottom-right-radius: 3px;

                .fa-star {
                    color: $color-white;
                    font-size: 0.9rem;
                }
            }
        }

        .item-body {
            padding: 10px 0;

            .item-title {
                font-size: 1.2rem;
                font-weight: 500;
                margin-bottom: 5px;
                line-height: 1.5rem;
                
            }

            .item-info {
                font-size: 0.8rem;
                margin-bottom: 4px;
                color: $color-black-lightest;
            }
        }

        &:hover {
            cursor: pointer;
            
            .item-img {
                img {
                    transform: scale(1.1, 1.1);
                }
            }
        }
    }
}