<a class="item box-shadow" href="/detail.html">
    <div class="item-img">
        <img src="https://source.unsplash.com/dDAM6LlicQQ/400x250">
        <div class="item-rating">
            <span class="fas fa-star"></span>
            <span class="fas fa-star"></span>
            <span class="fas fa-star"></span>
        </div>
    </div>
    <div class="item-body">
        <p class="item-title">Coffee In Town
            <span class="badge badge-pill badge-light">Bangkok</span>
        </p>
        <p class="item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut</p>
    </div>
</a>