.search-item-container {
    padding: 2.5rem 0;
    .item {
        position: relative;
        overflow: hidden;
        display: block;
        border-radius: 2px;
        display: flex;
        flex-direction: row;
        margin-bottom: 1.5rem;

        .item-img {
            border-radius: 2px;
            overflow: hidden;
            position: relative;
            max-width: 300px;

            img {
                width: 100%;
                height: auto;
                display: block;
                position: relative;
                z-index: 100;
                transform: scale(1,1);
                transition: all 0.3s ease;
            }

            .item-rating {
                position: absolute;
                left: 0;
                top: 10px;
                z-index: 1000;
                background-color: $color-main;
                padding: 1px 6px;
                border-top-right-radius: 3px;
                border-bottom-right-radius: 3px;

                .fa-star {
                    color: $color-white;
                    font-size: 0.8rem;
                }
            }
        }

        .item-body {
            padding: 0 20px;

            .item-title {
                font-size: 1.3rem;
                font-weight: 500;
                margin-bottom: 0;
                .badge {
                    font-weight: 400;
                    font-size: 0.8rem;
                    color: $color-black-lightest;
                    margin-left: 3px;
                }
            }

            .item-description {
                font-size: 0.9rem;
                margin-bottom: 4px;
                color: $color-black-light;
            }
        }

        &:hover {
            cursor: pointer;
            
            .item-img {
                img {
                    transform: scale(1.1, 1.1);
                }
            }
        }
    }

    .map-container {
        height: 250px;
    }
}