.tags {
    .badge {
        background-color: $color-grey-light;
        border: 1px solid $color-grey-light;
        color: $color-black-lightest;
        padding: 10px 12px;
        font-weight: 400;
        font-size: 1rem;
        margin-right: 6px;
        border-radius: 3px;

        &:hover {
            background-color: $color-main;
            color: $color-white;
        }
    }
}