<nav class="navbar navbar-expand-lg navbar-light sps">
    <div class="container">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="navbar-brand" href="/">
                        <span>Nap</span>
                        <i class="fas fa-coffee text-main"></i>
                        <span class="text-main">Cafe</span>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav navbar-center">
                <li class="nav-item search-bar">
                    <form class="navbar-search-container">
                        <div class="input-container">
                            <input class="form-control mr-sm-2" required type="text" placeholder="Find your next cafe">
                            <div class="btn-submit-container">
                                <button class="btn" type="submit">Search</button>
                            </div>
                        </div>
                    </form>
                </li>
            </ul>
            <ul class="navbar-nav navbar-right ml-auto">
                <li class="nav-item nav-action">
                    <a class="nav-link btn btn-outline-success">
                        Sign In
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>