<div class="position-relative overflow-hidden text-center bg-light search-bar-container">
    <div class="container">
        <form class="form-inline">
            <div class="input-container">
                <input class="form-control mr-sm-2" required type="text">
                <div class="label">Search from places, provinces, cafe name</div>
                <div class="btn-submit-container">
                    <button class="btn" type="submit">Search</button>
                </div>
            </div>
        </form>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>`