$search-bar-height: 50px;

.search-bar-container {
    padding-top: $navbar-height;
    background: url(../images/home-bg3.jpg) no-repeat center left fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    .container {
        padding: 5rem 0;
        max-width: 800px;
        margin: 0 auto;
        opacity: 0;

        .input-container {
            width: 100%;
            position: relative;
            background-color: $color-white;
            border-radius: 3px;
            .form-control {
                position: relative;
                width: 100%;
                height: $search-bar-height + 20px;
                padding: 10px;
                z-index: 1001;
                background-color: transparent;
                margin-right: 0;
                padding: 25px 20px 15px 20px ;
                font-size: 1.2rem;
                box-shadow: 1px 2px 4px 0 rgba(0,0,0,.1);
                border: 0;

                &:focus + .label, &:valid + .label {
                    font-size: 0.7rem;
                    height: 35px;
                }
            }
            

            .btn-submit-container {
                position: absolute;
                right: 0;
                top: 0;
                padding: 10px;

                .btn {
                    height: 100%;
                    height: $search-bar-height;
                    background-color: $color-main;
                    color: $color-white;
                    padding: 0 30px;
                }
            }

            .label {
                position: absolute;
                left: 0;
                top: 0;
                height: $search-bar-height + 20px;
                display: flex;
                align-items: center;
                padding: 10px 20px;
                font-size: 1rem;
                color: $color-grey;
                z-index: 1000;
                transition: all 0.2s ease;
            }
        }
    }

    .title {
        font-weight: 500;
        text-align: left;
        color: $color-white;
        font-size: 3rem;
        opacity: 0;
    }

    .subtitle {
        font-size: 1.2rem;
        text-align: left;
        color: $color-white;
        opacity: 0;
    }

    .title, .subtitle, .container {
        transition: all 0.5s ease;
    }

    &.sps--abv {
        .title, .subtitle, .container {
            opacity: 1;
        }
    }
}