<div class="position-relative overflow-hidden text-center bg-light search-bar-container sps" data-sps-offset="100">
    <div class="container">
        <h3 class="title">Find your next favorite cafe</h3>
        <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        <form class="form-inline">
            <div class="input-container">
                <input class="form-control mr-sm-2" required type="text">
                <div class="label">Search from places, provinces, cafe name</div>
                <div class="btn-submit-container">
                    <button class="btn" type="submit">Search</button>
                </div>
            </div>
        </form>
    </div>
</div>