<html>

<head>
    <title>Index</title>
</head>

<body>
    <%= require('html-loader!./components/navbar/navbar-nosearch.html') %>
        <div class="position-relative overflow-hidden text-center bg-light mb-5">
            <div class="col-md-5 p-lg-5 mx-auto">
                <h1 class="display-4 font-weight-normal">Punny headline</h1>
                <p class="lead font-weight-normal">And an even wittier subheading to boot. Jumpstart your marketing efforts with this example based on Apple's
                    marketing pages.</p>
            </div>
        </div>
        <section class="container">
            <div class="row">
                <div class="col-4">
                    <%= require('html-loader!./components/item/blog.html') %>
                </div>
                <div class="col-4">
                    <%= require('html-loader!./components/item/blog.html') %>
                </div>
                <div class="col-4">
                    <%= require('html-loader!./components/item/blog.html') %>
                </div>
                <div class="col-4">
                    <%= require('html-loader!./components/item/blog.html') %>
                </div>
                <div class="col-4">
                    <%= require('html-loader!./components/item/blog.html') %>
                </div>
                <div class="col-4">
                    <%= require('html-loader!./components/item/blog.html') %>
                </div>
                <div class="col-4">
                    <%= require('html-loader!./components/item/blog.html') %>
                </div>
            </div>
        </section>
</body>

</html>