<html>

<head>
    <title>Index</title>
</head>

<body>
    <%= require('html-loader!./components/navbar/navbar.html') %>
    <%= require('html-loader!./components/header/page-detail.html') %>
    <section class="page-detail-container">
        <div class="container">
            <div class="row">
                <div class="col-8">
                    <div class="page-content">
                        <div>righteous indignation and dislike</div>
                        <p>But I must explain to you how all this mistaken idea of denouncing
                            <b>pleasure and praising pain was born and I will give you</b> a complete account of the
                            system, and expound the actual teachings of the great explorer of the truth, the master-builder
                            of human happiness. No one rejects, dislikes</p>
                        <p></p>
                        <ul>
                            <li>But I must explain to you how all this mistaken idea of denouncing</li>
                            <li>of pleasure of the moment, so blinded by desire</li>
                        </ul>
                        <p></p>
                        <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled
                            and demoralized by the charms of pleasure of the moment, so blinded by desire, that they
                            cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs
                            to those who fail in their duty through weakness of will</p>
                        <blockquote>
                            <span style="font-family: BlinkMacSystemFont, -apple-system, &quot;Segoe UI&quot;, Roboto, Oxygen, Ubuntu, Cantarell, &quot;Fira Sans&quot;, &quot;Droid Sans&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 1.2rem; font-weight: 400;">On the other hand, we denounce with righteous indignation and dislike men who are so
                                beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire</span>
                        </blockquote>
                        <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam,
                            nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui
                            in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum
                            fugiat quo voluptas nulla pariaturasdasdasdasd
                            <br>
                        </p>
                        <h2>Section 1.10.33</h2>
                        <div>
                            <img src="https://source.unsplash.com/DKnXlH_r3x4/2000x800">
                        </div>
                        <div>you how all this mistaken idea of denouncing pleasure</div>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                            deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate
                            non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum
                            et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero
                            tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus</p>
                        <p></p>
                        <ol>
                            <li>cum soluta nobis est eligendi optio cumque</li>
                            <li>righteous indignation and dislike</li>
                        </ol>
                        <p></p>
                        <h3>odio dignissimos ducimus</h3>
                        <p></p>
                        <div>
                            <img src="https://source.unsplash.com/-g7axSVst6Y/1600x600">
                        </div>
                        <div>I will give you a complete account of the system</div>
                        <p></p>
                        <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled
                            and demoralized by the charms of pleasure of the moment, so blinded by desire, that they
                            cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs
                            to those who fail in their duty through weakness of will</p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="page-sidebar">
                        <div id="search-map" class="map-container"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section detail-item-container bg-grey">
        <div class="container">
            <h3 class="title">RELATED</h3>
            <p class="subtitle">Coffee Shop Nearby This Shop</p>
            <div class="row">
                <div class="col">
                    <%= require('html-loader!./components/item/detail.html') %>
                </div>
                <div class="col">
                    <%= require('html-loader!./components/item/detail2.html') %>
                </div>
                <div class="col">
                    <%= require('html-loader!./components/item/detail3.html') %>
                </div>
            </div>
        </div>
    </section>
</body>

</html>