<html>

<head>
    <title>Index</title>
</head>

<body>
    <%= require('html-loader!./components/navbar/navbar-nosearch.html') %>
        <div class="position-relative overflow-hidden text-center bg-light mb-5">
            <div class="col-md-5 p-lg-5 mx-auto">
                <h1 class="display-4 font-weight-normal">Punny headline</h1>
                <p class="lead font-weight-normal">And an even wittier subheading to boot. Jumpstart your marketing efforts with this example based on Apple's
                    marketing pages.</p>
            </div>
        </div>
        <section class="container mb-5">
            <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </section>
        <div class="bg-light">
            <section class="container">
                <div class="p-lg-5">
                    <h4>RELATED</h4>
                    <div class="row">
                        <div class="col-4">
                            <%= require('html-loader!./components/item/normal.html') %>
                        </div>
                        <div class="col-4">
                            <%= require('html-loader!./components/item/normal.html') %>
                        </div>
                        <div class="col-4">
                            <%= require('html-loader!./components/item/normal.html') %>
                        </div>
                    </div>
                </div>
            </section>
        </div>
</body>

</html>