<html>

<head>
    <title>Index</title>
</head>

<body>
    <%= require('html-loader!./components/navbar/navbar.html') %>
    <%= require('html-loader!./components/search/search.html') %>
        <section class="container">
            <div class="row">
                <div class="col">
                        <%= require('html-loader!./components/item/category.html') %>
                </div>
                <div class="col">
                        <%= require('html-loader!./components/item/category.html') %>
                </div>
                <div class="col">
                        <%= require('html-loader!./components/item/category.html') %>
                </div>
                <div class="col">
                        <%= require('html-loader!./components/item/category.html') %>
                </div>
            </div>
        </section>
        <section class="container">
                <h3>FEATURED</h3>
            <div class="row">
                <div class="col">
                    <%= require('html-loader!./components/item/normal.html') %>
                </div>
                <div class="col">
                    <%= require('html-loader!./components/item/normal.html') %>
                </div>
                <div class="col">
                    <%= require('html-loader!./components/item/normal.html') %>
                </div>
                <div class="col">
                    <%= require('html-loader!./components/item/normal.html') %>
                </div>
            </div>
        </section>
        <section class="container">
                <h3>BLOG</h3>
            <div class="row">
                <div class="col">
                        <%= require('html-loader!./components/item/blog.html') %>
                </div>
                <div class="col">
                        <%= require('html-loader!./components/item/blog.html') %>
                </div>
                <div class="col">
                        <%= require('html-loader!./components/item/blog.html') %>
                </div>
            </div>
        </section>
</body>

</html>