<html>

<head>
    <title>Index</title>
</head>

<body>
    <%= require('html-loader!./components/navbar/navbar-nosps.html') %>
    <div class="app-main-container">
        <section class="section search-item-container">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <%= require('html-loader!./components/item/search.html') %>
                    </div>
                    <div class="col-12">
                        <%= require('html-loader!./components/item/search.html') %>
                    </div>
                    <div class="col-12">
                        <%= require('html-loader!./components/item/search.html') %>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>

</html>